<%- include("templates/head", {tituloWeb: "- Mascotas" }) %>

    <div class="mb-3">
        <div class="row">
            <div class="col-md-8">
                <h1>Estas en la sección Mascotas</h1>
            </div>
            <div class="col-md-4 d-grid align-items-center">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#crearMascota">
                    Registrar mascota
                </button>
            </div>
        </div>
    </div>

    <% if (arrayMascotas.length> 0) { %>
        <% let count = 1; %> 
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Sexo</th>
                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% arrayMascotas.forEach(mascota=> { %>
                    <tr>
                        <th scope="row"><%= count ++ %></th>
                        <td><%= mascota.name %></td>
                        <td><%= mascota.race %></td>
                        <td><%= mascota.age %> </td>
                        <td><%= mascota.sex %></td>
                        <td class="text-center">
                            <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarMascota" id="btnEditar" data-info="<%= JSON.stringify(mascota) %>">
                                Editar
                            </a>
                            <button type="button" class="btn btn-danger">Quitar</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    <% } %>


    <!-- Modals -->

    <!-- Crear mascota -->
    <div class="modal fade" id="crearMascota" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar mascota</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center">
                            <h4 class="mx-auto">Image</h4>
                        </div>
                        <div class="col-md-8">
                            <form action="/mascotas" method="post">
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Nombre</label>
                                    <input type="text" class="form-control" name="name" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Raza</label>
                                    <input type="text" class="form-control" name="race" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Edad</label>
                                    <input type="text" class="form-control" name="age" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Sexo</label>
                                    <select class="form-select" aria-label="Default select example" name="sex" required>
                                        <option value="macho">Macho</option>
                                        <option value="hembra">Hembra</option>
                                    </select>
                                </div>
                                <div class="float-end">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Editar mascota -->
    <div class="modal fade" id="editarMascota" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar mascota</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center">
                            <h4 class="mx-auto">Image</h4>
                        </div>
                        <div class="col-md-8">
                            <form action="/mascotas/editar" method="post">
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Nombre</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Raza</label>
                                    <input type="text" class="form-control" name="race" id="race" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Edad</label>
                                    <input type="text" class="form-control" name="age" id="age" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Sexo</label>
                                    <select class="form-select" aria-label="Default select example" name="sex" id="sex" required>
                                        <option value="macho">Macho</option>
                                        <option value="hembra">Hembra</option>
                                    </select>
                                </div>
                                <div class="float-end">
                                    <button type="submit" class="btn btn-primary">Editar</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Script enviar los datos al modal -->
    <!-- Estoy utilizando "addEventListener" en vez de "Onclick" porque vi en un video que era recomendable -->
    <script>
        const btnEditar = document.querySelectorAll('#btnEditar'); // capturo el los btn a través del id.
        // recorro cada btn para agregar el addEventListener.
        for(let i = 0; i < btnEditar.length; i++){
            btnEditar[i].addEventListener('click', ()=>{
                const data = btnEditar[i].dataset.info; // creo una variable data con la info (stringify) que está en el btn (data-set).
                rellenarCampos(data); // creo una función para rellenar el modal.
            });
        }
        
        const rellenarCampos = data=>{
            const info = JSON.parse(data); // Es importante parsear la info a JSON.
            document.getElementById('name').value = info.name; // añado la información a través del id de los campos.
            document.getElementById('race').value = info.race;
            document.getElementById('age').value = info.age;
            document.getElementById('sex').value = info.sex;
        }
    </script>

<%- include("templates/footer") %>