<%- include("templates/head", {tituloWeb: "- Mascotas" }) %>

    <div class="mb-3">
        <div class="row">
            <div class="col-md-8">
                <h1>Estas en la sección Mascotas</h1>
            </div>
            <div class="col-md-4 d-grid align-items-center">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#crearMascota">
                    Registrar mascota
                </button>
            </div>
        </div>
    </div>

    <% if (arrayMascotas.length> 0) { %>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Sexo</th>
                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% arrayMascotas.forEach(mascota=> { %>
                    <tr>
                        <th scope="row"><%= mascota.id + 1 %></th>
                        <td><%= mascota.name %></td>
                        <td><%= mascota.race %></td>
                        <td><%= mascota.age %> </td>
                        <td><%= mascota.sex %></td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary">Editar</button>
                            <button type="button" class="btn btn-danger">Quitar</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    <% } %>


    <!-- Modals -->

    <!-- Crear mascota -->
    <div class="modal fade" id="crearMascota" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar mascota</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center">
                            <h4 class="mx-auto">Image</h4>
                        </div>
                        <div class="col-md-8">
                            <form action="/mascotas" method="post">
                                <div class="mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" class="form-control" name="name">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Raza</label>
                                    <input type="text" class="form-control" name="race">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Edad</label>
                                    <input type="text" class="form-control" name="age">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Sexo</label>
                                    <input type="text" class="form-control" name="sex">
                                </div>
                                <div class="float-end">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<%- include("templates/footer") %>